.qr-handler {
    display: inline;
    vertical-align: baseline;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
}
    .qr-handler__icon {
        position: relative;
        top: 2px;
        vertical-align: top;
        font-size: 16px;
        line-height: 16px;
        width: 16px;
        height: 16px;
        color: var(--link-color);
        transition: color var(--transition-hover),
                    transform 400ms var(--ease-out-quint);
    }

    .qr-handler:hover .qr-handler__icon {
        transform: scale(115%);
        color: var(--link-color-hover);
    }
