:root {
    --font: "Open Sans Variable", system-ui, sans-serif;
    --body-font-size: 16px;
    --body-line-height: 24px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-show: 1200ms var(--ease-out-quint);
    --image-fallback: #F3F5F4;
    --container-padding: 40px;
    --radius: 20px;
    --page-gap: 24px;
    --action-color: #8B263E;
    --action-color-hover: #A6324F;
    --action-bg-light: #FDF2F4;
    --action-bg-light-hover: #FAECEF;
    --link-color: #B82346;
    --link-color-hover: #D42B54;
    --input-border: #B3B3B3;
    --input-border-hover-and-focus: #7E7E7E;
    --placeholder-color: #999999;
    --disabled-background: #F6F6F6;
    --disabled-color: #999999;
    --error: #FF0033;
    --heading-color: #1F2937;
    --text-color: #374151;
    --text-gray: #6B7280;
    --text-lighter-gray: #9BA3AB;
    --border-color: #E5E7EB;
    --border-color-light: #CBD5E1;
    --success-color: #22C55E;
    --bg-color: #FAF7F8;
}

@media (width < 740px) {
    :root {
        --page-gap: 16px;
        --body-font-size: 15px;
        --body-line-height: 22px;
    }
}

@media (350px <= width < 740px) {
    :root {
        --container-padding: 24px;
    }
}

@media (width < 350px) {
    :root {
        --container-padding: 16px;
    }
}
