.all-mods {
    padding-top: 24px;
    padding-bottom: 24px;
}
    .all-mods__heading {

    }

    .all-mods__description {
        margin-top: 24px;
        max-width: 780px;
    }

    .all-mods__list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }



@media (width < 740px) {

    .all-mods {
        padding-top: 16px;
        padding-bottom: 16px;
    }
        .all-mods__heading {

        }

        .all-mods__description {
            margin-top: 16px;
        }

        .all-mods__list {
            margin-top: 24px;
            gap: 24px;
        }
}
