.hystmodal__window:has(.share) {
    width: 680px !important;
}

.share {

}
    .share__intro {
         max-width: 550px;
    }

    .share__all-links {
        margin-top: 12px;
    }
        .share__item {
            display: flex;
            align-items: center;
            gap: 14px;
        }

        .share__item:first-child {
            margin-top: 0;
        }
            .share__wrap {
                overflow: hidden;
            }
                .share__label {
                    width: fit-content;
                    margin-bottom: -4px;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                }

                .share__link {
                    padding-top: 4px;
                    padding-bottom: 4px;
                    font-size: 12px;
                    line-height: 18px;
                    font-family: monospace;
                    word-wrap: break-word;
                }

            .share__copy {
                margin-top: 2px;
                flex-shrink: 0;
            }

    .share__addition {
        margin-top: 18px;
    }

    .share__preview {
        margin-top: 12px;
        width: fit-content;
    }
        .share__image {
            vertical-align: top;
            width: 100%;
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            background-color: var(--image-fallback);
            border-radius: 12px;
        }


@media (width < 740px) {
    .hystmodal__window:has(.share) {
        width: calc(100% - var(--container-padding)) !important;
        margin: calc(var(--container-padding) / 2);
    }
}
