.modifications {
    padding-top: 24px;
    padding-bottom: 24px;
}
    .modifications__heading {

    }

    .modifications__description {
        margin-top: 24px;
        max-width: 780px;
    }

    .modifications__list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }



@media (width < 740px) {

    .modifications {
        padding-top: 16px;
        padding-bottom: 16px;
    }
        .modifications__heading {

        }

        .modifications__description {
            margin-top: 16px;
        }

        .modifications__list {
            margin-top: 24px;
            gap: 24px;
        }
}
