.modifications {

}
    .modifications__heading {

    }

    .modifications__description {
        margin-top: var(--page-gap);
        max-width: 780px;
    }

    .modifications__list {
        margin-top: var(--page-gap);
        display: flex;
        flex-direction: column;
        gap: var(--page-gap);
    }



@media (width < 740px) {

    .modifications {

    }
        .modifications__heading {

        }

        .modifications__description {

        }

        .modifications__list {

        }
}
