/* Telegram RU (Winter / Snowflakes) */
.hystmodal:has(.qr-modal-telegram--qr-modal-telegram-ru)::before,
.hystmodal#qr-modal-telegram-ru::before {
    background-image: 
        url('./snowflakes.svg'),
        radial-gradient(at 0% 0%, #B0DBD5 0%, transparent 70%),
        radial-gradient(at 100% 0%, #C0C4EC 0%, transparent 70%),
        radial-gradient(at 100% 100%, #83ADF0 0%, transparent 70%),
        radial-gradient(at 0% 100%, #9ED4F4 0%, transparent 70%);
    background-position: center center, 0 0, 0 0, 0 0, 0 0;
    background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 420px auto, cover, cover, cover, cover;
    background-blend-mode: soft-light, normal, normal, normal, normal;
    background-color: #9ED4F4;
}

/* Telegram EN (Summer / Beach) */
.hystmodal:has(.qr-modal-telegram--qr-modal-telegram-en)::before,
.hystmodal#qr-modal-telegram-en::before {
    background-image: 
        url('./beach.svg'),
        radial-gradient(at 0% 0%, #FFE599 0%, transparent 70%),
        radial-gradient(at 100% 0%, #FF9B85 0%, transparent 70%),
        radial-gradient(at 100% 100%, #3A86FF 0%, transparent 70%),
        radial-gradient(at 0% 100%, #48E5C2 0%, transparent 70%);
    background-position: center center, 0 0, 0 0, 0 0, 0 0;
    background-repeat: repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 420px auto, cover, cover, cover, cover;
    background-blend-mode: soft-light, normal, normal, normal, normal;
    background-color: #48E5C2;
}

.hystmodal--active:has(.qr-modal-telegram)::before {
    opacity: 100%;
}


.hystmodal__window:has(.qr-modal-telegram) {
    width: 300px;
    border-top: 74px solid transparent; /* Компенсируем отрицательный маргин */
}

.hystmodal__window:has(.qr-modal-telegram) .window {
    border-radius: 44px;
    corner-shape: superellipse(1.3);
}

.hystmodal__window:has(.qr-modal-telegram) .window__body {
    padding: 16px 16px 20px;
}


@media (width < 400px) {

    .hystmodal__window:has(.qr-modal-telegram) {
        width: calc(100% - 2 * var(--container-padding));
    }
}



.qr-modal-telegram {
    text-align: center;
}
    .qr-modal-telegram__logo {
        margin-top: -124px;
        width: 108px;
        height: 108px;
        border-radius: 50%;
        border: 4px solid #ffffff;
        background-color: var(--image-fallback);
        object-fit: cover;
    }

    .qr-modal-telegram__image {
        display: block;
        margin: 12px auto 0;
        width: 206px;
        height: 206px;
    }

    .qr-modal-telegram__username {
        display: block;
        width: fit-content;
        margin: 11px auto 0;
        padding: 4px 0;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        color: #7F7F7F;
        letter-spacing: -0.25px;
        text-transform: uppercase;
        text-decoration: none;
    }
        .qr-modal-telegram__hover {
            text-decoration: 1.6px underline transparent;
            text-underline-offset: 4px;
        }

        .qr-modal-telegram__username:hover .qr-modal-telegram__hover {
            text-decoration-color: currentColor;
        }
