.title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: var(--heading-color);
}


@media (width < 740px) {
    .title {
        font-size: 24px;
        line-height: 30px;
    }
}
