.copy {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #CBD5E1;
    padding: 8px 12px;
    min-width: 80px;
    background-color: #FFFFFF;
    border-radius: 6px;
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: inherit; /* in case of <button> */
    color: #1E293B;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover);
}

.copy:hover {
    background-color: var(--action-bg-light);
}

.copy--is-copied,
.copy--is-copied:hover {
    background-color: #22c55e;
    border-color: #22c55e;
    color: #ffffff;
    cursor: default;
}
