.mod {
    display: flex;
    align-items: stretch;
    gap: 28px;
    padding: 24px 28px;
    background-color: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: 0 4px 16px rgba(0 0 0 / 3%),
                0 1px 2px rgba(0 0 0 / 2%);
}
    .mod__preview {
        flex-shrink: 0;
        display: block;
        width: 240px;
    }
        .mod__image {
            vertical-align: top;
            width: 100%;
            height: auto;
            background-color: var(--image-fallback);
            border-radius: 12px;
            transition: transform 600ms var(--ease-out-quint);
        }

        .mod__preview:hover .mod__image {
            transform: scale(104%);
        }

    .mod__body {
        padding-top: 4px;
        flex-grow: 1;
        align-items: start;
    }
        .mod__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            color: var(--heading-color);
        }

        .mod__description {
            margin-top: 12px;
        }

    .mod__sidebar {
        flex-shrink: 0;
        width: 200px;
        display: flex;
        flex-direction: column;
    }
        .mod__original {

        }
            .mod__author {
                font-size: 13px;
                line-height: 20px;
            }

        .mod__download {
            margin-top: 18px;
        }
            .mod__actions {
                margin-top: 4px;
                display: flex;
                align-items: flex-start;
                gap: 6px;
            }
                .mod__main-link {
                    flex-grow: 1;
                }
                    .mod__main-link .button {
                        width: 100%;
                        padding-left: 12px;
                        padding-right: 12px;
                    }

                .mod__share {
                    margin-right: -12px;
                }

            .mod__alt-link {
                margin-top: 4px;
                font-size: 13px;
                line-height: 20px;
                text-align: center;
            }

        .mod__printing-hint {
            margin-top: auto;
            margin-bottom: -12px;
            padding-top: 4px;
            font-style: italic;
            font-size: 12px;
            line-height: 16px;
            color: var(--text-gray);
            text-align: center;
            opacity: 75%;
        }
            .mod__highlight {
                font-weight: bold;
            }


@media (width < 740px) {

    .mod {
        display: block;
        padding: 0;
        border-radius: 16px;
    }
    
        .mod__preview {
            width: auto;
        }
            .mod__image {
                max-height: 240px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }

            .mod__preview:hover .mod__image {
                transform: none;
            }

        @media (480px <= width) {
            .mod__preview {
                padding: 24px;
            }
                .mod__image {
                    border-radius: 16px;
                }
        }

        .mod__body {
            padding: 22px 20px;
        }
            .mod__heading {
                font-size: 19px;
                line-height: 24px;
            }

            .mod__description {
                margin-top: 10px;
            }

        .mod__sidebar {
            padding: 0 28px 20px;
            width: auto;
        }
            .mod__original {

            }
                .mod__author {

                }

            .mod__download {

            }
                .mod__actions {

                }
                    .mod__main-link {

                    }

                    .mod__share {

                    }

            .mod__alt-link {
                margin-top: 10px;
            }

            .mod__printing-hint {
                margin-bottom: 0;
                padding-top: 24px;
            }
                .mod__highlight {

                }
}
