.intro {

}
    .intro__head {
        display: flex;
        align-items: center;
        gap: 12px;
    }
        .intro__logo {
            flex-shrink: 0;
            margin-left: -4px;
            width: 50px;
            height: 50px;
            background-color: var(--image-fallback);
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 10%);
        }

        .intro__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 32px;
            line-height: 36px;
            color: var(--heading-color);
        }

    .intro__content {
        margin-top: calc(2/3 * var(--page-gap));
    }



@media (width < 740px) {

    .intro {

    }
        .intro__head {
            font-size: 28px;
            line-height: 32px;
        }
            .intro__logo {
                width: 46px;
                height: 46px;
            }

            .intro__heading {
                font-size: 28px;
                line-height: 32px;
            }

        .intro__content {

        }
}
