.window {
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
}
    .window__close {
        float: right;
        position: relative;
        width: 68px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
        /* hover */
        .window__close::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: auto;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .window__close:hover::before {
            background-color: var(--light-blue);
        }

        .window__close:active {
            transform: translateY(1px);
        }

        /* icon */
        .window__close svg {
            position: relative;
            width: 26px;
            height: 26px;
            color: var(--heading-color);
        }

    .window__heading {
        padding: 28px 0 0 32px;
    }

    .window__body {
        padding: 32px;
    }

    .window__heading ~ .window__body {
        padding-top: 20px;
    }

    .window__actions {
        padding: 0 24px 24px;
        display: flex;
        align-items: center;
        gap: 8px;
    }



@media (width < 740px) {

    .window {
        /*position: relative;*/
        /*background-color: #ffffff;*/
        /*border-radius: 12px;*/
    }
        .window__close {
            /*position: absolute;*/
            /*right: 0;*/
            /*top: 0;*/
            /*width: 68px;*/
            /*height: 68px;*/
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: center;*/
            /*background-color: transparent;*/
            /*border: none;*/
            /*padding: 0;*/
            /*cursor: pointer;*/
        }
            /* hover */
            .window__close::before {
                /*content: "";*/
                /*position: absolute;*/
                /*inset: 0;*/
                /*margin: auto;*/
                /*width: 40px;*/
                /*height: 40px;*/
                /*border-radius: 50%;*/
            }

            .window__close:hover::before {
                /*background-color: var(--light-blue);*/
            }

            .window__close:active {
                /*transform: translateY(1px);*/
            }

            /* icon */
            .window__close svg {
                /*position: relative;*/
                /*width: 26px;*/
                /*height: 26px;*/
                /*color: var(--heading-color);*/
            }

        .window__heading {
            padding: 24px 0 0 24px;
        }

        .window__body {
            padding: 24px;
        }

        .window__heading ~ .window__body {
            padding-top: 14px;
        }

        .window__actions {
            /*padding: 0 24px 24px;*/
            /*display: flex;*/
            /*align-items: center;*/
            /*gap: 8px;*/
        }
}
