.hystmodal:has(.qr-modal-tiktok)::before {
    background-image: url("./tiktok-background.jpg");
    background-size: auto 896px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.hystmodal--active:has(.qr-modal-tiktok):before {
    opacity: 100%;
}


.hystmodal__window:has(.qr-modal-tiktok) {
    width: 346px;
    border-top: 64px solid transparent; /* Компенсируем отрицательный маргин */
}

.hystmodal__window:has(.qr-modal-tiktok) .window {
    border-radius: 34px;
    corner-shape: superellipse(1.5);
}

.hystmodal__window:has(.qr-modal-tiktok) .window__body {
    padding: 24px 24px 20px;
}


@media (width < 400px) {

    .hystmodal__window:has(.qr-modal-tiktok) {
        width: calc(100% - 2 * var(--container-padding));
    }
}



.qr-modal-tiktok {
    text-align: center;
}
    .qr-modal-tiktok__logo {
        margin-top: -88px;
        width: 106px;
        height: 106px;
        border-radius: 50%;
        border: 5px solid #ffffff;
        background-color: var(--image-fallback);
        object-fit: cover;
    }

    .qr-modal-tiktok__title {
        display: block;
        width: fit-content;
        margin: -4px auto 0;
        padding-top: 4px; /* expand clickable area */
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        letter-spacing: -0.25px;
        text-decoration: 1.5px underline transparent;
        text-underline-offset: 3px;
    }

    .qr-modal-tiktok__title:hover {
        text-decoration-color: currentColor;
    }

    .qr-modal-tiktok__username {
        margin: 0 auto;
        display: block;
        width: fit-content;
        padding: 1px 0 4px; /* expand clickable area */
        font-size: 16px;
        line-height: 22px;
        color: #7F7F7F;
        letter-spacing: -0.25px;
        text-decoration: none;
    }
        .qr-modal-tiktok__hover {
            text-decoration: 1px underline transparent;
            text-underline-offset: 3px;
        }

        .qr-modal-tiktok__username:hover .qr-modal-tiktok__hover {
            text-decoration-color: currentColor;
        }

    .qr-modal-tiktok__image {
        display: block;
        margin: 14px auto 0;
        width: 232px;
        height: 232px;
    }

    .qr-modal-tiktok__platform-logo {
        display: block;
        margin: 15px auto 0;
        width: 91px;
        height: 38px;
    }
